<html>

<head>
  {% if title %}
  <title>{{ title }} - microblog</title>
  {% else %}
  <title>microblog</title>
  {% endif %}
</head>

<body>
  <div>
    Microblog:
    <a href="{{ url_for('index') }}">Home</a>
    <a href="{{ url_for('login') }}">Login</a>
  </div>
  <hr>
  {% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
  <ul>
    {% for category, message in messages %}
    <li>category: {{ category }}, message: {{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  {% block content %}{% endblock %}
</body>

</html>